@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Roboto|Roboto+Mono&display=swap')

.card_padding {
    padding: 25px;
}
.footer_href {
    color: black;
}

.card {
    padding: 20px;
    }

.img_recipes {
    width: 75%;
    height: 75%;
}

body {
   font-family: 'Roboto', 'sans-serif';
}

.brand-logo {
    margin-left: 10px;
}

.modal-footer{
    margin-bottom: 20px;
}

@media (max-width: 480px) {
  a.brand-logo {
    font-size: 20px;
    text-align: center;
  }
}