{% extends 'base.html' %} {% block content %}

     
 <div class="container">
    <h2 id="#top">All Recipes</h2>
  <div class="row">
  <div class="col s12 m12 l10 offset-l1">
  {% for recipe in recipes %}
      <div class="card">
        <div class="card-image">
         <img src="{{recipe.recipe_image}}" class="img_recipes">
          <span class="card-title"><h4 class="name_of_recipe">{{recipe.recipe_name}}</h4></span>
        </div>
        <div class="card-content">
            <div class="row">
            <h5>Ingredients</h5>
           {{recipe.recipe_ingredients}}
            </div>
            <div class="row">
            <h5>Description</h5>
            {{recipe.recipe_description}}
            </div>
            <div class="row">
            <h5>Directions</h5>
             {{recipe.recipe_directions}}
            </div>
        </div>
        <div class="card-action">
             <h5>{{recipe.category_name}}</h5>
        </div>
        <div class="container">
            <div class="row">
            <div class="divider"></div>
            </div>
        </div>
        <div class="row">
        <div class="col s6 m3 l3">
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-large red"><i class="material-icons left">edit</i>Edit</a>
        </div>
         <div class="col s6 m3 l3">
         <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn-large red modal-trigger" href="#modal1"><i class="material-icons left">delete</i>Del</a>
          <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                <h4>Confirm Deletion</h4>
                <p>Are you sure</p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-light btn-large red">No</a>
                <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="modal-close waves-effect waves-light btn-large red">Yes</a>
                </div>
            </div>
        </div>
        </div>
      </div>
    {% endfor %}
  </div>
   </div>
</div>

    <div class="row">
        <div class="col offset-s9 offset-m10 offset-l11">
            <a href="#top"class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-arrow-up"></i></a>
        </div>
    </div>

{% endblock %}